.accommodation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accommodation-preview {
    width: 92%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #FF6060;
}

.accommodation-preview>div {
    display: flex;
    flex-direction: column;
}

.accommodation-preview>div:last-child {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.accommodation-preview>div>h2 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 7px;
}

.accommodation-preview>div>p {
    margin-bottom: 10px;
}

.host-name {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.host-name>img {
    width: 64px;
    border-radius: 100px;
  }

.accommodation-preview>div>ul {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.tags {
    flex-wrap: wrap;
}

.tags>li {
    color: #F6F6F6;
    background-color: #FF6060;
    border-radius: 10px;
    padding: 5px 25px;
    margin-right: 10px;
    margin-bottom: 8px;
}

/*  -----  Accommodation-info  -----  */

.description, .equipement {
    margin-bottom: 20px;
}

.description>div, .equipement>div {
    height: 30px;
    width: 300px;
    border-radius: 4px;
    color: #FFF;
    background-color: #FF6060;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5px;
    margin: auto;
}

.description img, .equipement img {
    width: 16px;
}

.open {
    width: 300px;
    border-radius: 4px;
    color: #FF6060;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5px;
    padding-block: 20px;
    margin: auto;
}

.close {
    display: none;
}

.up {
    transition: transform 0.3s ease;
    transform: rotate(-180deg);
}

.down {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

@media (min-width: 760px) {
    .accommodation-info>div>div {
        width: 700px;
    }

    .open {
        width: 700px;
    }
    .accommodation-preview>div {
        margin-block: 20px;
    }

    .accommodation-preview>div:last-child {
        display: flex;
        flex-direction: column;
        margin-block: 20px;
        width: auto;
    }
}

@media (min-width: 1024px) {
    .accommodation-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 92%;
    }
    .accommodation-info>div {
        width: 45%;
    }
    .accommodation-info>div>div {
        width: 100%;
        padding-block: 10px;
    }

    .open {
        width: 100%;
        padding-inline: 5px;
    }

}