@media (min-width: 768px) {
    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-inline: auto;
        margin-block: 20px;
        border-radius: 10px;
        background-color: #F6F6F6;
        padding-bottom: 20px;
    }
}